@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  @apply bg-[#000] text-[#fff];
}

::selection {
  background-color: #fff;
  color: #000;
}

.icons {
  @apply text-[#fff] text-2xl cursor-pointer hover:scale-110 transition-all duration-300 ease-in-out;
}

.btn {
  border-radius: 5px;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  font-weight: 500;
  background: white;
  padding: 0 12px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  font-size: 16px;
  height: 40px;

  @layer @apply bg-[white] border border-color-[white];
}

.btn.sm-height {
  height: 30px;
}

.btn:hover {
  background: transparent;
  color: white;
}

.btn.rounded-lg {
  border-radius: 9999px;
}

/* scrollbar with background transparent and scrollbar color white */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  width: 2px;
}

.btn.red {
  background: #ee3030;
  border-color: #ee3030;
  color: white;
}

.btn.red:hover {
  background: transparent;
  color: rgb(255, 96, 96);
}
